{% extends "base.html" %}

{% block title %} 個別リスト {% endblock %}

{% block main %}
<form action="{% url 'show' %}" method="post">
    {% csrf_token %}
    {{ form_id }}
    <input type="submit" />
</form>

{% if item %}
<dl>
    <h4 class="ui horizontal divider header"><i class="tag icon"></i> {{item.id}} </h4>
    <table class="ui definition table">
      <tbody>
        <tr>
          <td class="two wide column">名前</td>
          <td>{{ item.name }}</td>
        </tr>
        <tr>
          <td>個数</td>
          <td>{{ item.count }}</td>
        </tr>
        <tr>
          <td>期日</td>
          <td>{{ item.buy_date }}</td>
        </tr>
        <tr>
          <td>済み？</td>
          <td>{{ item.buy }}</td>
        </tr>
      </tbody>
    </table>


</dl>
{% else %}
<div>IDを指定してください</div>

{% endif %}

<ul>
    <li><a href="{% url 'list' %}">一覧へ戻る</a></li>
</ul>
{% endblock %}