{% extends "base.html" %}

{% load custom_filters %}

{% block title %} 個別リスト {% endblock %}

{% block main %}
<form action="{% url "list" %}" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" />
</form>

<form action="{% url "list" %}" method="get">
    <div>
        <label>名前</label>
        <input type="search" id="filter_name" name="name" placeholder="なまえ" value={{ request.GET|name }}>
        <select type="search" id="order_name" name="oname" value={{ request.GET|name }}>
            <option value="0">昇順</option>
            <option value="1">降順</option>
        </select>
    </div>
    <div>
        <label>個数</label>
        <input type="search" id="filter_count" name="count" placeholder="かず" value={{ request.GET|count }}>
    </div>
    <div>
        <label>期日</label>
        <input type="search" id="filter_buy_date" name="buy_date" placeholder="ひづけ" value={{ request.GET|buy_date }}>
    </div>
    <div>
        <label>購入</label>
        <select type="search" id="filter_buy" name="buy" value={{ request.GET|buy }}>
            <option value="0">未選択</option>
            <option value="1">購入済</option>
            <option value="2">未購入</option>
        </select>
    </div>
    ソート:
    <select type="search" id="order_kind" name="order_kind" value={{ request.GET|order_kind }}>
        <option value="0">名前</option>
        <option value="1">個数</option>
        <option value="2">期日</option>
    </select>
    で
    <select type="search" id="order_by" name="order_by" value={{ request.GET|order_by }}>
        <option value="0">昇順</option>
        <option value="1">降順</option>
    </select>
    にソート
    <br>
    <button id="filter">検索、ソート</button>
</form>

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>#</th>
			<th>名前</th>
			<th>個数</th>
			<th>期日</th>
			<th>済み?</th>
			<th>編集</th>
			<th>削除</th>
			<th>購入</th>
		</tr>
	</thead>
	<tbody>
	{% for item in object_list %}
	<tr>
		<td scope="row">{{ item.id }}</td>
		<td><a href={{item.item_url}}>{{item.name }}</a></td>
		<td>{{ item.count }}</td>
		<td>{{ item.buy_date }}</td>
		<td>{% if item.buy == False %} <front color="red">Not yet</front>{% endif %}{% if item.buy == True %} Yet {% endif %}</td>
		<td><a href="{% url 'edit' item.id %}">編集</a></td>
		<td><a href="{% url 'delete' item.id %}">削除</a></td>
		<td><a href="{% url 'buy' item.id %}">購入</a></td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
